.question
    .item
        &.fadeIn-enter-active
            opacity 1
            transition all 1s ease
        &.fadeIn-enter,&.fadeIn-leave-active
            opacity 0
        .title
            font-size 17px
            color #333
            margin-bottom 15px
            font-family 'tx'
        .option
            margin-bottom 10px
            display flex
            align-items baseline
            .select
                padding 3px 9px
                margin-right 10px
                background-color #ffffff
                color #333
                border-radius 10px
                border 1px solid #333
                &.active
                    background-color blue
                    color #ffffff
        .confirm
            border 1px solid #333
            border-radius 5px
            width 75px
            height 25px
            margin 15px auto 0
            text-align center;
            line-height 25px;